<div class="backgroundpop">
 <img id="custHead" src="images/creatorheader.jpg"/>


 <section class="popular">

   <div id="popRecipe">

    <div class="leftColumn">
      <img class="popImage" src="images/christina.jpg"/>
    </div>

    <div class="rightColumn">
      <h1>Christina Bergstrom</h1>
      <h2 class="pairing">Creative maker focused on enhancing user experience.</h2>
    <a class="pairing" href="http://christinabergstrom.com">
         Portfolio
    </a><br>
    <a class="pairing" href="https://github.com/bergstromcbb">
       Github
    </a><br>
    <a class="pairing" href="https://www.linkedin.com/in/christinabergstrom">
       LinkedIn
    </a>
    </div>
   </div>
 </section>
 <section class="popular">

   <div id="popRecipe">

    <div class="leftColumn">
      <img class="popImage" src="images/simona.jpg"/>
    </div>

    <div class="rightColumn">
      <h1>Simona Golebiewski</h1>
      <h2 class="pairing">On a mission to improve user experience.</h2>
    <a class="pairing" href="">
       Github
    </a><br>
    <a class="pairing" href="">
       LinkedIn
    </a>     
    </div>
   </div>
 </section>
 <section class="popular">

   <div id="popRecipe">

     <div class="leftColumn">
       <img class="popImage" src="images/cameron.jpg"/>
     </div>

     <div class="rightColumn">
       <h1>Cameron Shurney</h1>
       <h2 class="pairing"></h2>
    <a class="pairing" href="">
       Github
    </a><br>
    <a class="pairing" href="">
       LinkedIn
    </a>
     </div>
   </div>
 </section>
 <section class="popular">

   <div id="popRecipe">

     <div class="leftColumn">
       <img class="popImage" src="images/kyle.jpg"/>
     </div>

     <div class="rightColumn">
       <h1>Kyle Ziolkowski</h1>
       <h2 class="pairing">Front-end Web Developer seeking to express my passion and creativity.</h2>
    <a class="pairing" href="">
       Github
    </a><br>
    <a class="pairing" href="">
       LinkedIn
    </a>
     </div>
   </div>
 </section>

</div>

<footer>
 <div>
   <a class="hvr-grow-shadow" target="_blank" href="https://twitter.com/RecipeCookApp">
     <img class="socialIcon" src="images/png/twitter.png">
   </a>

   <a class="hvr-grow-shadow" target="_blank" href="https://www.instagram.com/recipecook/">
     <img class="socialIcon" src="images/png/instagram.png">
   </a>

   <a class="hvr-grow-shadow" href="mailto:recipecookapp@gmail.com">
     <img class="socialIcon" src="images/png/google-plus.png">
   </a>

   <a class="hvr-grow-shadow" target="_blank" href="https://www.facebook.com/gary.circus.90">
     <img class="socialIcon" src="images/png/facebook.png">
   </a>

   <a class="hvr-grow-shadow" target="_blank" href="http://www.apple.com/itunes/charts/free-apps/">
     <img class="socialIcon" src="images/png/app-store.png">
   </a>
 </div>

 <a class="hvr-grow-shadow" target="_blank" href="#/creators"> Created by Cameron | Christina | Kyle | Simona </a>
 <br>
 &copy; RecipeCook 2016

</footer> 
