<div class="flex.container">
	<section>
		<img id="splashHeader" src="images/splashHeader.jpg">
	</section>

	<div id="AboutApp">
		<p> Your quick one stop shop to find that easy recipe for dinner tonight with ingredients you already have.
		</p>
	</div>

	<div id="splashNav">

	<section class="column">
		<a class="centernav" href="#/popular">
		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<img class="homebutt" src="images/popularicon.jpg">
				</div>
				<div class="back">
					<p class="backside">Click here for today's top five recipes!</p>
				</div>
			</div>
		</div>
		</a>
	</section>

	<section class="column">
		<a class="centernav" href="#/custom">
		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<img class="homebutt" src="images/recipecreator.jpg">
				</div>
				<div class="back">
					<p class="backside">Create 5 recipes that include 3 ingredients that you already have in your home.</p>
				</div>
			</div>
		</div>
		</a>
	</section>

	<section class="column">
		<a class="centernav" href="#/pairings"><div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<img class="homebutt" src="images/newpairingicon.jpg">		
				</div>
				<div class="back">
					<p class="backside">Your place for fantastic pairing for side dishes, desserts and drinks!</p>
				</div>
			</div>
		</div>
	</section>

		</div>
		<footer>
			<div>
				<a class="hvr-grow-shadow" target="_blank" href="https://twitter.com/RecipeCookApp">
					<img class="socialIcon" src="images/png/twitter.png">
				</a>

				<a class="hvr-grow-shadow" target="_blank" href="https://www.instagram.com/recipecook/">
					<img class="socialIcon" src="images/png/instagram.png">
				</a>

				<a class="hvr-grow-shadow" href="mailto:recipecookapp@gmail.com">
					<img class="socialIcon" src="images/png/google-plus.png">
				</a>

				<a class="hvr-grow-shadow" target="_blank" href="https://www.facebook.com/gary.circus.90">
					<img class="socialIcon" src="images/png/facebook.png">
				</a>

				<a class="hvr-grow-shadow" target="_blank" href="http://www.apple.com/itunes/charts/free-apps/">
					<img class="socialIcon" src="images/png/app-store.png">
				</a>
			</div>

			<a target="_blank" href="#/creators"> Created by Cameron | Christina | Kyle | Simona </a>
			<br>
			&copy; RecipeCook 2016

		</footer>
