
<div>

	<div class="backgroundcust custdir" >
		<section class="custom">
			<h2>Which ingredients do you have?</h2>
			<p id="instruction">Choose a few ingredients and search for a recipe.</p>
			<form>
				<p>
					<input class="box" type="text" placeholder="Add a protein" ng-model="recipeData.protein">
				</p>
				<p>
					<input class="box" type="text" placeholder="Add a vegetable" ng-model="recipeData.vegetable">
				</p>
				<p>
					<input class="box" type="text" placeholder="Add a starch" ng-model="recipeData.starch">
				</p>
				<p>
					<button class="submitbtn" type="submit" ng-click="onclick(foodsToAdd)">
						Find a recipe!
					</button>
				</p>
			</form>
		</section>
<!-- <br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /> -->
		</div>


</div>
<footer>
        &copy; RecipeCook 2016
    </footer>