
<div>

	<img id="custHead" src="images/customheader.jpg"/>

	<div>

		<section class="custom">

			<h2>Which ingredients do you have?</h2>
			<p id="instruction">Choose a few ingredients and search for a recipe.</p>

			<form>
				<p>
					<input class="box" type="text" placeholder="Add a protein or meat" ng-model="recipeData.protein">
				</p>
				<p>
					<input class="box" type="text" placeholder="Add a vegetable or fruit" ng-model="recipeData.vegetable">
				</p>
				<p>
					<input class="box" type="text" placeholder="Add a starch or grain" ng-model="recipeData.starch">
				</p>
				<p>
					<button class="submitbtn" type="submit" ng-click="onclick(foodsToAdd)">
						Find a recipe!
					</button>
				</p>
			</form>

		</section>

	</div>
</div>

<footer class="navigation">
	<div>
		<a href="https://twitter.com/?request_context=signup">
			<img class="icon" src="images/png/twitter.png">
		</a>

		<a href="http://instagram.com">
			<img class="icon" src="images/png/instagram.png">
		</a>

		<a href="http://www.facebook.com">
			<img class="icon" src="images/png/facebook.png">
		</a>

		<a href="https://gmail.com">
			<img class="icon" src="images/png/google-plus.png">
		</a>
	</div>

	<a href="Creaters.html"> Created by Cameron | Christina | Kyle | Simona </a>
	<br>
	&copy; RecipeCook 2016

</footer>
