<div class="pairingcontent">
<section class="popular">
	
	<h2>Popular Side Dishes</h2>


	<div id="popRecipe">

		<div class="leftColumn">
		<img  class="popImage" src="{{recipeInfo.image}}">
		</div>

		<div class="rightColumn">
			<ul>
			<li ng-repeat="recipeInfo in sideArray">
			<a href="{{recipeInfo.sourceUrl}}">{{recipeInfo.title}}</a>
			</li>
			</ul>
		</div>

	</div>
</section>
<section class="popular">
	
	<h2>Popular Desserts</h2>


	<div id="popRecipe">

		<div class="leftColumn">
		<img  class="popImage" src="{{recipeInfo.image}}">
		</div>

		<div class="rightColumn">
			<ul>
			<li ng-repeat="recipeInfo in dessertArray">
			<a href="{{recipeInfo.sourceUrl}}">{{recipeInfo.title}}</a>
			</li>
			</ul>
		</div>

	</div>
</section>
<section class="popular">
	
	<h2>Popular Drinks</h2>


	<div id="popRecipe">

		<div class="leftColumn">
		<img  class="popImage" src="{{recipeInfo.image}}">
		</div>

		<div class="rightColumn">
			<ul>
			<li ng-repeat="recipeInfo in drinksArray">
			<a href="{{recipeInfo.sourceUrl}}">{{recipeInfo.title}}</a>
			</li>
			</ul>
		</div>

	</div>
</section>


</div>
<footer class="navigation">
	<div>
		<a target="_blank" href="http://www.apple.com/itunes/charts/free-apps/">
			<img class="socialIcon" src="images/png/app-store.png">
		</a>
		<a target="_blank" href="https://twitter.com/RecipeCookApp">
			<img class="socialIcon" src="images/png/twitter.png">
		</a>

		<a target="_blank" href="https://www.instagram.com/recipecook/">
			<img class="socialIcon" src="images/png/instagram.png">
		</a>

		<a target="_blank" href="https://www.facebook.com/gary.circus.90">
			<img class="socialIcon" src="images/png/facebook.png">
		</a>

		<a href="mailto:recipecookapp@gmail.com">
			<img class="socialIcon" src="images/png/google-plus.png">
		</a>
	</div>

	<a target="_blank" href="Creators.html"> Created by Cameron | Christina | Kyle | Simona </a>
	<br>
	&copy; RecipeCook 2016

</footer>