<div>

	<!-- {{joke}} -->

</div>
<footer class="navigation">
	<div>
		<a target="_blank" href="http://www.apple.com/itunes/charts/free-apps/">
			<img class="socialIcon" src="images/png/app-store.png">
		</a>
		<a target="_blank" href="https://twitter.com/RecipeCookApp">
			<img class="socialIcon" src="images/png/twitter.png">
		</a>

		<a target="_blank" href="https://www.instagram.com/recipecook/">
			<img class="socialIcon" src="images/png/instagram.png">
		</a>

		<a target="_blank" href="https://www.facebook.com/gary.circus.90">
			<img class="socialIcon" src="images/png/facebook.png">
		</a>

		<a href="mailto:recipecookapp@gmail.com">
			<img class="socialIcon" src="images/png/google-plus.png">
		</a>
	</div>

	<a target="_blank" href="Creaters.html"> Created by Cameron | Christina | Kyle | Simona </a>
	<br>
	&copy; RecipeCook 2016

</footer>