 <div class="backgroundpop">
 	<img id="custHead" src="images/popularHeader.jpg"/>


	<section class="popular" ng-repeat="recipe in recipes">
		
		<div id="popRecipe">

			<div class="leftColumn">
				<a class="navigation" href="{{recipe.link}}">
				<img class="popImage" ng-src="{{recipe.image}}"/>
			</div>

			<div class="rightColumn">
				<h1>{{recipe.title}}</h1></a>
				<h3>Total Prep &amp; Cook Time: <br> 
				 {{recipe.time}} minutes </h3>
			</div>
		
		</div>
	</section>

</div>
	
<footer class="navigation">
	<div>
		<a href="https://twitter.com/?request_context=signup">
			<img class="socialIcon" src="images/png/twitter.png">
		</a>

		<a href="http://instagram.com">
			<img class="socialIcon" src="images/png/instagram.png">
		</a>

		<a href="http://www.facebook.com">
			<img class="socialIcon" src="images/png/facebook.png">
		</a>

		<a href="https://gmail.com">
			<img class="socialIcon" src="images/png/google-plus.png">
		</a>
	</div>

	<a href="Creaters.html"> Created by Cameron | Christina | Kyle | Simona </a>
	<br>
	&copy; RecipeCook 2016

</footer>