<div>
	<section>
		<img id="logo" src="images/logo.png">
	</section>

	<div class="splashNav">
		<section class="eachButt">
			<a href="#/popular">
				<img class="homebutt" src="images/popular.jpg"><br>
				Popular Recipes
			</a>
		</section>
		<section class="eachButt"> 
			<a href="#/custom">
				<img class="homebutt" src="images/custom.jpg"><br>
				Custom Recipes
			</a>
		</section>
		<section class="eachButt">
			<a href="#/pairing">
				<img class="homebutt" src="images/pairing.jpg"><br>
				Recipe Pairings
			</a>
		</section>
	</div>

 		<footer>
        &copy; RecipeCook 2016
   		 </footer>

</div>