<div class="flex.container">
	<section>
		<img id="splashHeader" src="images/splashHeader.jpg">
	</section>

	<div id="AboutApp">
		<p> Your quick one stop shop to find that easy recipe for dinner tonight with ingredients you already have.
		</p>
	</div>

	<div id="splashNav">

		<section class="column">
			<a href="#/popular">
				<img class="homebutt" src="images/popular.jpg"><br>
			</a>
		</section>
		
		<section class="column"> 
			<a href="#/custom">
				<img class="homebutt" src="images/custom.jpg"><br>
			</a>
		</section>

		<section class="column">
			<a href="#/pairings">
				<img class="homebutt" src="images/pairing.jpg"><br>
			</a>
		</section>
		
	</div>
</div>
<footer>
	&copy; RecipeCook 2016
</footer>

