<div class="flex.container">
	<section>
		<img id="logo" src="images/logo.png">
	</section>

	<div id="splashNav">

		<section class="navigation column">
			<a href="#/popular">
				<img class="homebutt" src="images/popular.jpg"><br>
				Popular Recipes
			</a>
		</section>
			
		<section class="navigation column"> 
			<a href="#/custom">
				<img class="homebutt" src="images/custom.jpg"><br>
				Custom Recipes
			</a>
		</section>

		<section class="navigation column">
			<a href="#/pairings">
				<img class="homebutt" src="images/pairing.jpg"><br>
				Recipe Pairings
			</a>
		</section>
	
	</div>

 		<footer>
        &copy; RecipeCook 2016
   		 </footer>

</div>