body {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	background-image: url("../images/background5.png");
	font-size: 3vw;
}

.navigation {
	background-color: rgba(255, 255, 255, 0.6);
	width: 75%;
	margin: auto;
}

a{
	margin: 10px;
}

input {
	height: 3vw;
	width: 25vw;
}

button {
	height: 3vw;
	width: 18vw;
}
