@font-face{
    font-family: 'Kg dark side';
    src: url(../library/KGDarkSide.ttf);
}

body {
	margin: 0;
    background-color: #edc884;
    font-family: 'Kg dark side';
}

a{
    text-decoration: none;
    color: #606060;
    margin-right: 10px;    
}

a:hover{
    color: #879ac3;

}

a:active{
    color: #3b61b7;
}

.navigation {
	background-color: rgba(255, 255, 255, 0.6);
}

.navigationBar {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 4vw;
    padding-bottom: 16px;
}

.icon {
    height: 5vw;
    position: relative;
    top: 14px;
}

.socialIcon{
    height: 5vw;
    width: 5vw;

}

#splashNav{
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    text-align: center;
    color: #606060;
    padding-bottom: 22px;
    list-style-type: none;
}

.column{
    width: 30%;
    padding: 1.5vw;
}

.homebutt {
    width: 100%;
    border-radius: 50%;
}

#logo {
	width: 50%;
	margin: auto;
}

#popRecipe {
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    text-align: center;
    color: #606060;
    padding: 5px;
    list-style-type: none;
}

.popImage{
    width: 100%;
    border-radius: 50%;
}

.leftColumn {
    width: 45%;
}

.rightColumn {
    width: 45%;
}

.eachButt {
	width: 30%;
	display: inline;
	border-color: black;
	border-style: solid;
}

input {
	height: 3vw;
	width: 25vw;
}

button {
	height: 3vw;
	width: 18vw;
}

.popimg{
	border-radius: 50%;
	width: 20%;
}

.header{
    clear: right;
}

.description{
    clear: right;
}

.popular{
    background-color: rgba(255,255,255,0.7);
    border-radius: 25px;
    width: 75%;
    margin: auto;
    padding: 2vw;
    padding-top: 2vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    max-width: 850px;
    box-shadow: 5px 5px 15px #606060;
    text-align: center;
}

.custom{
    background-color: rgba(255,255,255,0.7);
    border-radius: 25px;
    width: 75%;
    margin: auto;
    padding: 2vw;
    padding-top: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

footer{
    font-size: 2vw;
    font-family: avenir;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    line-height: 25px;
}

::-webkit-input-placeholder{
  font-size: 1vw;
}

.custom{
  text-align: center;
	border-radius: 25px;
	width: 75%;
	margin: auto;
	padding: 2vw;
	padding-top: 2vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

#custHead{
  width: 100%;
}

.submitbtn{
	border-radius: 10px;
	background-color: #ffd77a;
	border: 4px solid #ffe4a8;
	box-shadow: 5px 5px 15px #000000;
  font-size: 1.5vw;
}

#splashHeader{
    width: 100%;
}

#AboutApp{
    width: 60%;
    text-align: center;
    margin: auto;
    font-size: 2.75vw;
    font-family: avenir;
}

h1{
    font-size: 3vw;
}

.ingredients{
    text-align: center;
}

h3{
    font-size: 2.5vw;
}
